**__pycache__
**.DS_Store
**/build_unix
**/build_win
**/build_ios
**/build_android
app/plugins
app/bin
app/bin64
app/bin_ios
app/lib

plugins/templates/android/.gradle
plugins/templates/android/**/build

app/tools/glog-*
app/tools/spdlog-*
app/scripts/pkg/vc_redist