**__pycache__
**.DS_Store
**/build_unix
**/build_win
**/build_ios
**/build_android
app/bin
app/bin64
app/bin_ios
app/lib
app/logs
app/tools

pre-dev/templates/android/.gradle
pre-dev/templates/android/**/build

app/tools/glog-*
app/tools/spdlog-*
app/scripts/pkg-win/vc_redist
app/*.exe